@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/*html {
    font-size: 62.5%;    
}*/
body {
    background-color: #ddd;
}
img {
    width: 100%;
}

#container {
    width: 1200px;
    margin: 10px auto;
    /*border: 1px solid #000;*/
    display: flex;
    flex-direction: row;
    box-shadow: 0 5px #ccc;
}

.prinA {
    width: 640px;
}
.prinA p {
    padding: 5px;
}
.secundario {
    height: 355px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secA {
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    /*border: 1px solid #000;*/
}
.noticia {
    height: 221px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: nowrap;
    /*border: 1px solid #000;*/
    background-color: #fff;
}

.texto {
    width: 370px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    /*border: 1px solid #000;*/
}
.noticiaTxt {
    width: 550px;
    margin: 10px;
    /*display: flex;
    flex-direction: column;*/
    /*border: 1px solid #000;*/
}
.noticiaTxt p {
    padding-top: 10px;
}
.noticiaTxt p.fecha {
    padding-top: 35px;
}

#secondContainer {
    width: 1200px;
    margin: 0 auto;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
}
.titularNoticias {
    width: 850px;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
.titularNoticias h1 {
    padding: 5px;
    font-size: 2rem;
    font-weight: 700;
}
#secContainer {
    width: 850px;
    /*background-color: #ddd;*/
}
#columnDer {
    width: 350px;
    margin: 60px 0 10px 10px;
    display: flex;
    flex-direction: column;
    /*border: 1px solid #000;*/
    background-color: #fff;
}

.rsTitulo {
    height: 40px;
    background-color: #00488C;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-facebook-official, .fa-twitter {
    font-size: 30px;
    color: #CCC;
    text-decoration: none;
    padding: 5px;
}
.fa-facebook-official:hover, .fa-twitter:hover {
    color: #00488C;
}

