@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* --- HTML --- */
html {
    font-size: 62.5%;    
}

/* --- BODY --- */
body {
    background-color: #EEEEEE;
}

/* --- HEADER --- */
header {
    width: 100%;
    background-image: url(../images/fondo-mosaico.jpg);
    background-repeat: repeat-x;
}

/* --- NAV --- */
.navbar-brand img {
    padding-left: 30px;
}
nav ul {
    padding-right: 30px;
}
nav ul li {
    font-size: 2rem;
    margin: 5px;
    padding: 5px;
}
.btn-menu {
    background-color: #FFF;
    border-color: #FFF;
    font-size: 25px;
}
.bg-blue {
    background-color: #00488C;    
}
.link-white {
    color: #fff;
}
.link-white:hover {
    color: #E88D0B;
}
/* --- CAROUSEL --- */
.carousel {
    width: 1024px;
    height: 566px;
    margin: 10px auto;
    overflow: hidden;
}
.carousel-indicators {
    margin: 0 auto;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 80px;
    width: 80px;
    background-size: 100%, 100%;
}

/* --- SECTION --- */
.titularNoticias {
    margin-left: 47px;
    max-width: 750px;
    border-bottom: 1px solid #ccc;
}
.titularNoticias h1 {
    font-size: 3rem;
    font-weight: 700;
}
#line {
    border: 1px solid #000;
}
.my-row {
    height: auto;
}
.card-size {
    max-width: 750px;
}
.card-title {
    font-weight: 700;
}
.card-text {
    font-size: 1.5rem;
}

/* --- ASIDE --- */
#columnDer {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}
.resultados, .redesSociales, .posiciones {
    background-color: #FFF;
    /*margin-bottom: 10px;*/
    border: 1px solid #CCC;
}
.redesSociales {
    text-align: center;
}
.rsTitulo {
    height: 40px;
    background-color: #00488C;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rsColor {
    background-color: #E88D0B;
    color: #00488C;
}
.fa-facebook-official, .fa-twitter {
    font-size: 30px;
    color: #CCC;
    text-decoration: none;
    padding: 5px;
}
.fa-facebook-official:hover, .fa-twitter:hover {
    color: #00488C;
}
#noticias {
    margin: 0 auto;
}

/* --- FOOTER --- */
footer {
    width: 100%;
    height: 80px;
    background-color: #00488C;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer p {
    color: #CCC;
    font-size: 1.5rem;
}