@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* --- RESET --- */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* --- VARIABLES --- */
:root {
    --animation-duration: 1s;
}

/* --- HTML --- */
html {
    font-size: 62.5%;    
}

/* --- BODY --- */
body {
    background-color: #EEEEEE;
}
img {
    width: 100%;
}

/*--- GRID TEMPLATE --- */
.container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,auto);
    grid-template-areas:
    "header header header header"
    ". section aside ."
    "footer footer footer footer";
    gap: 10px;
}
#header {
    grid-area: header;
}
#secondSection {
    grid-area: section;
}
#columnDer {
    grid-area: aside;
}
#footer {
    grid-area: footer;
}

/* --- HEADER --- */
header {
    width: 100%;
    background-image: url(../images/fondo-mosaico.jpg);
    background-repeat: repeat-x;
}
.headerImg {
    width: 1024px;
    margin: 10px auto;
}

/* --- NAV --- */
nav {
    padding: 10px 50px;
    background-color: #00488C;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
    margin: 5px;
    padding: 5px;
    font-size: 2rem;
}
nav ul li a {
    text-decoration: none;
    color: #FFF;
}
nav ul li a:hover {
    color: #E88D0B;
}
#enlaceNav {
    color: #E88D0B;
}

/* --- SECTION CONTAINER --- */
#container {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 2px solid #DDD;
}
#secondSection {
    max-width: 850px;
    margin-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.noticiaPrincipal {
    max-width: 640px;
}
.noticiaPrincipal p {
    font-size: 1.5rem;
    padding: 5px 5px 20px 5px;
}
.noticiaSecundaria {
    max-height: 355px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.noticiaArticle {
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
}
.nsTexto {
    max-width: 370px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}
#secondContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
}
.titularNoticias {
    max-width: 850px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.titularNoticias h1 {
    padding: 5px;
    font-size: 3rem;
    font-weight: 700;
}
.noticia {
    max-height: 221px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: nowrap;
    background-color: #fff;
}
.noticiaTxt {
    width: 550px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.5rem;
}
.noticiaTxt p {
    padding-top: 10px;
}

/* --- SECTION FIXTURE.HTML --- */
#fixture {
    width: 100%;
    padding-bottom: 10px;
    /*border: 1px solid #000;*/
    display: flex;
    flex-direction: column;
}
.titularFixture {
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.titularFixture h1 {
    padding: 5px;
    font-size: 3rem;
    font-weight: 700;
}
span {
    color: #E88D0B;
}
.info {
    width: 100%;
    margin: 10px 0;
    /*border: 1px solid #000;*/
    display: flex;
    justify-content: space-between;
    background-color: #00488C;
    color: #FFF;
}
    .info, .equipoA, .equipoB, .fechaHorario h3 {
        font-size: 1.8rem;
        padding: 10px;
    }

.fixtureData {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    border: 1px solid #ccc;
}

/* --- SECTION EQUIPOS.HTML --- */
#equipos {
    width: 100%;   
}
.titularEquipos {
    max-width: 1200px;
    border-bottom: 1px solid #ccc;
}
.titularEquipos h1 {
    padding: 5px;
    font-size: 3rem;
    font-weight: 700;
}
.infoEquipos {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.5rem;
}
.card {
    width: 300px;
    height: 300px;
    margin: 10px 0 10px 10px;
    border: 1px solid #ccc;
}
.cardImg {
    margin: 10px; 
}
.cardInfo {
    width: 280px;
    margin: 10px;
    text-align: center;
    /*border: 1px solid #ccc;*/
}

/* --- SECTION HISTORIA.HTML --- */
.titularHistoria {
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.titularHistoria h1 {
    padding: 5px;
    font-size: 3rem;
    font-weight: 700;
}
.titularHistoria h2 {
    width: 100%;
    font-size: 2.5rem;
    margin: 20px 0 0 10px;
}
.textoHistoria p {
    font-size: 1.8rem;
    padding: 10px 10px 10px 20px;
}
.autoridades {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cardAutoridades {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 20px;
    font-size: 1.6rem;   
}

/* --- GALERIA --- */
/*.galeria {
    width: 100%;
    margin: 20px 0;
}*/
.galeria {
    width: 100%;
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,300px);
    grid-template-areas: 
    "staples staples juez comu"
    "tiro balones juez league";
    gap: 10px;
}
.staples {
    grid-area: staples;
}
.juez {
    grid-area: juez;
}
.comunidad {
    grid-area: comu;
}
.tiro {
    grid-area: tiro;
}
.balones {
    grid-area: balones;
}
.league {
    grid-area: league;
}
.galeria img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: grayscale(1);
}
.galeria img:hover {
    filter: none;
}


/* --- FORMULARIO CONTACTO.HTML --- */
.formInfo {
    width: 800px;
    text-align: left;
    font-size: 1.8rem;
    padding: 20px 0 0 20px;
}
.formControl {
    font-size: 1.5rem;
}
    .formControl:focus {
        outline: none !important;
        border: 2px solid #E88D0B;
        border-radius: 4px;    
    }
    ::placeholder {
        color: #ccc;
    }

label {
    display: flex;
    align-items: center;
}
input[type=text], input[type=email] {
    width: 100%;
    padding: 10px 14px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}
input.inputCheckbox {
    transform: scale(1.5);
    margin: 20px;
}
select {
    width: 100%;
    padding: 10px 14px;
    border: 2px solid #ccc;
    border-radius: 4px;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none; 
}
textarea:focus {
    outline: none !important;
    border: 3px solid #E88D0B;
    border-radius: 4px;
}
    .inputTextarea {
        font-size: 1.5rem;
    }
    button[type=reset] {
        width: 100%;
        padding: 16px 0;
        background-color: #E88D0B;
        border: none;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
    }
    button[type=submit] {
        width: 100%;
        padding: 16px 0;
        background-color: #04aa6d;
        border: none;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
    }

.map {
    margin: 20px 0 20px 20px;
}

/* --- ASIDE --- */
#columnDer {
    width: 100%;
    margin: 70px 0 10px 10px;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}
.resultados, .redesSociales, .posiciones {
    background-color: #FFF;
    margin-bottom: 10px;
    /*border: 1px solid #CCC;*/
}
.redesSociales {
    text-align: center;
}
.rsTitulo {
    height: 40px;
    background-color: #00488C;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rsColor {
    background-color: #E88D0B;
    color: #00488C;
}
.fa-facebook-official, .fa-twitter {
    font-size: 30px;
    color: #CCC;
    text-decoration: none;
    padding: 5px;
}
.fa-facebook-official:hover, .fa-twitter:hover {
    color: #00488C;
}


/* --- ANIMACION --- */
.ballContainer {
    position: relative;
    bottom: 0%;
    width: 100%;
    height: 300px;
    text-align: center;
    border: 1px solid #000;
    background-color: #00488C;    
}
.rebote {
    animation-name: rebote;
    animation-duration: var(--animation-duration);
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform-origin: bottom;
}
.sombra, .rotateImg {
    border-radius: 50%;
    display: inline-block;
    width: 55px;
    height: 55px;

}
.sombra {
    margin-top: 230px;
    animation-name: sombra;
    animation-duration: var(--animation-duration);
    animation-direction: alternate;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}
.rotateImg {
    background-image: url(../images/ball.fw.png);
    background-size: 100%;
    animation-name: rotate;
    animation-duration: calc(var(--animation-duration)*5.3);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes sombra {
    0% {
        transform: translateY(0);
        box-shadow: 5px 5px 10px #000;
        /* #444466 */
    }
    100% {
        transform: translateY(-220px);
        box-shadow: 10px 55px 55px #444466;
    }
}
@keyframes rebote {
    0% {
        transform: scaleY(0.7);
    }
    15% {
        transform: scaleY(1);
    }
}
@keyframes rotate {
    100% {
        transform: rotate(360deg);    
    }
}

/* --- DIV EMPTY --- */
#empty {
    width: 100%;
    height: 100px;
}

/* --- FOOTER --- */
footer {
    width: 100%;
    height: 80px;
    background-color: #00488C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer p {
    color: #CCC;
    font-size: 1.5rem;
}

/* --- RESPONSIVE --- */
@media (max-width: 1200px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "section"
        "aside"
        "footer";
    }
    .headerImg {
        display: block;
        max-width: 100%;
    }
    /*nav {
        flex-direction: column;
        align-items:flex-start;
        justify-content: flex-start;
    }*/
   /*#container {
        flex-direction: row;
    }*/
    /*.headerImg img {
        height: auto;
        max-width: 100%;
    }*/
    #columnDer {
        margin: 0;
        text-align: left;
    }

}