
/* --- RESPONSIVE --- */
@media (max-width: 992px) {
    h2.card-title {
        font-size: $textMd;
        font-weight: $textBold;
    }
    p.card-text {
        font-size: 1.3em;
    }
    .card-body {
        padding: 3px;
    }  
}
@media (min-width: 992px) {
    .posRow {
        font-size: $textMd;
    }
    aside h3 {
        font-size: $textLg;
    }
    h2.card-title {
        font-size: $textLg;
        font-weight: $textBold;
    }
    p.card-text {
        font-size: 1.3em;    
    }
}
@media (min-width: 1200px) {
    .posRow {
        font-size: $textMd;
    }
    h2.card-title {
        @include font(2.5em,$textBold);
    }
    p.card-text {
        font-size: $textMd;    
    }
}
@media (max-width: 1200px) {
    h3.rsTitulo {
        font-size: $textLg;
    }
}