
// COLORES
$mainColor: #00488C;
$btnColor: #04aa6d;
$secondaryColor: #E88D0B;
$shadowColor: #888;
$grey: #CCC;
$bgColor: #EEE;
$keyColor: #FFF;

// FLEX
$dFlex: flex;
$fWrap: wrap;
$fDirectionColumn: column;
$fDirectionRow: row;
$jContentCenter: center;
$aItemsCenter: center;