
// COLORES
$bgColor: #EEE;
$mainColor: #00488C;
$secondaryColor: #E88D0B;
$keyColor: #FFF;
$grey: #CCC;

// FLEX
$dFlex: flex;
$fWrap: wrap;
$fDirectionColumn: column;
$fDirectionRow: row;
$jContentCenter: center;
$aItemsCenter: center;