
// FONTS
/* --- GOOGLE FONTS --- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@400;700&display=swap');
$mainFont: 'Roboto', sans-serif;

// TEXT SIZE
$textSm: 1em;
$textMd: 1.5em;
$textLg: 1.8em;
$textXl: 2em;
$textXxl: 3em;
$textXxxl: 3.5em;

// WEIGHTS
$textRegular: 400;
$textBold: 700;
$textBolder: 800;