
// FONTS

/* --- GOOGLE FONTS --- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@400;700&display=swap');
$mainFont: 'Roboto', sans-serif;

// TEXT SIZE
$textMd: 1.5rem;
$textLg: 1.8rem;
$textXl: 2rem;
$textXxl: 3rem;

// WEIGHTS
$textRegular: 400;
$textBold: 700;