/* --- SECTION HISTORIA.HTML --- */
.titularHistoria {
    width: 100%;
    border-bottom: 1px solid $grey;
    h1 {
        padding: 5px;
        font-size: $textXxl;
        font-weight: $textBold;    
    }
    h2 {
        width: 100%;
        font-size: 2.5em;
        font-weight: $textBold;
        margin: 20px 0 0 10px;    
    }
}
.textoHistoria p {
    font-size: $textLg;
    padding: 10px 10px 10px 20px;
}
.autoridades {
    width: 100%;
    display: $dFlex;
    flex-direction: $fDirectionRow;
    justify-content: $jContentCenter;
}
.cardAutoridades {
    width: 180px;
    height: auto;
    margin: 20px 5px 5px 0px;
    font-size: $textMd;   
}