//EXTENDS
.posiciones {
    text-align: center;
    box-shadow: 2px 2px 3px $shadowColor;
}
.resultados, .redesSociales {
    @extend .posiciones;
    background-color: $keyColor;
}

.cardImg {
    margin: 10px;
}
.cardInfo {
    @extend .cardImg;
    width: 280px;
    text-align: center;
}

//MIXINS
@mixin flex($fDirection,$jContent,$wrap) {
    display: flex;
    flex-direction: $fDirection;
    justify-content: $jContent;
    flex-wrap: $fWrap;
}

@mixin font($fontSize,$fontWeight) {
    font-size: $fontSize;
    font-weight: $fontWeight;
}

@mixin color($backgColor,$color) {
    background-color: $backgColor;
    color: $color;
}

//MAPS
$esquemaColor: (
    'uno': #00488C,
    'dos': #E88D0B,
    'tres': #888,
    'cuatro': #CCC,
    'cinco': #EEE,
    'seis': #FFF,
    'siete': #444466,
    'ocho': #000,
    'nueve': #04aa6d,
    'diez': #FA6B5D,
);